@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
    --font-heading: "Fredoka", sans-serif;
    --font-primary: "Karla", sans-serif;

    --color-c-yellow: #eaba52;
    --color-c-light-yellow: #fff3cc;
    --color-c-blue: #94b6f1;
    --color-c-light-blue: #e5eeff;
    --color-c-dark-gray: #2e2e2e;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-primary);
    color: var(--color-c-dark-gray);
    font-size: 14px;
}

button {
    cursor: pointer;
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {
    .typography {
        h1 {
            font-size: var(--text-4xl);
            color: var(--color-c-dark-gray);
            font-family: var(--font-heading);
            font-weight: var(--font-weight-black);
        }
        h2 {
            font-size: var(--text-2xl);
            font-weight: var(--font-weight-semibold);
            color: var(--color-c-dark-gray);
            font-family: var(--font-heading);
        }
    }
}
