@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@import "./animation.css";

@theme {
    --font-heading: "Fredoka", sans-serif;
    --font-primary: "Karla", sans-serif;

    --color-tertiary: #ffc654;
    --color-secondary: #219ebc;
    --color-secondary-light: #c8eaf7;
    --color-primary: #4a4a4a;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-size: 16px;
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {
    .btn-base {
        min-width: 180px;
        border-radius: var(--radius-3xl);
        font-weight: var(--font-weight-black);
        font-family: var(--font-heading);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem 1rem;
        transition: all 0.2s;
        border: none;
        cursor: pointer;
        letter-spacing: 0.5px;
    }
    .input-base {
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #f9fafb;
        border: 1px solid #f3f4f6;
        color: var(--color-primary);
        font-weight: 500;
        outline: 2px solid transparent;
        outline-offset: 2px;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .input-base:focus {
        border-color: var(--color-secondary);
        background-color: #ffffff;
    }
}
